$color-green: rgb(42, 222, 114);
$color-green-hover: rgb(40, 212, 109);
$color-white: rgb(255, 255, 255);
$color-white-hover: rgb(250, 249, 249);
$color-black: rgb(0, 0, 0);
$color-logo-tree: rgb(63, 62, 62);
$color-silver: rgb(145, 145, 145);
$color-footer-bg: rgb(245, 245, 245);