$green-color: rgb(42, 222, 114);
$green-color-hover: rgb(40, 212, 109);
$white: white;
$white-hover: #faf9f9;
$black: black;
$logo-tree: rgb(63, 62, 62);
$silver : rgb(145, 145, 145);
$footer-bg: rgb(245, 245, 245);