@use './colors' as *;
@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	position: relative;
	margin-bottom: 3rem;
	font-size: 3.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
}

.section-padding {
	padding: 4rem 2rem;
}

.no-scroll-mobile {
	overflow: hidden;
}

//NAV

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 2rem;
	height: 100px;
	position: sticky;
	top: 0;
	z-index: 500;
	overflow: hidden;
	background-color: rgba($color: $color-white, $alpha: 0.9);
	opacity: 1;
	visibility: visible;
	transition: opacity 0.4s, visibility 0.4s;

	&--hidden {
		opacity: 0;
		visibility: hidden;
	}

	&__logo {
		font-size: 5rem;

		&-a {
			text-decoration: none;
			color: $color-black;
		}
	}

	.fa-tree {
		color: $color-logo-tree;
		margin-right: 10px;
	}

	.hamburger {
		position: absolute;
		top: 3em;
		right: 1em;
		transform: translateY(-50%);
		z-index: 500;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: $color-black;
			z-index: 500;
		}
	}

	&__mobile-link,
	&__desktop-link {
		position: relative;
		transition: color 0.3s;
	}

	&__mobile-link:before,
	&__desktop-link:before,
	.active-link:before {
		content: '';
		position: absolute;
		height: 100px;
		width: calc(100% + 40px);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}

	.active-link {
		color: $color-white;
	}

	.active-link:before {
		background-color: $color-black;
	}

	&__mobile-link:hover,
	&__desktop-link:hover {
		color: $color-green-hover;
	}

	&__mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: $color-white;
		transform: translateX(102%);
		transition: transform 0.5s;
		z-index: 10;

		&--active {
			transform: translateX(0);
			position: fixed;
		}

		&-link {
			text-decoration: none;
			color: $color-black;
			font-size: 3rem;
			padding: 20px;
		}

		.active-link:before {
			height: 77px;
			width: 100%;
		}
	}

	&__desktop {
		display: none;

		&-link {
			text-decoration: none;
			color: $color-black;
			padding: 10px;
			margin: 20px;
		}
	}
}

//HEADER
.header {
	background-image: url(../../dist/img/jungle_640.jpg);
	color: $color-white;
	position: relative;
	height: 400px;
	width: 100%;
	background-position: center;
	background-size: cover;
	z-index: 0;

	&__shadow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__texts {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-p {
			font-weight: 100;
			font-size: 2em;
		}

		&-h1 {
			font-size: 4rem;
			font-weight: 500;
		}
	}
}

//ABOUT-US
.aboutus {
	@include box-img-text;
}

//GAP
.gap {
	height: 200px;
	width: 100%;
	background-image: url(../../dist/img/girl_640.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	z-index: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	&__shadow {
		position: absolute;
		background-color: rgba(23, 26, 7, 0.5);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&__heading {
		z-index: 1;
		text-align: center;
		border: 2px solid $color-white;
		padding: 1rem 4rem;
		font-weight: 500;
		font-size: 2.7rem;
	}
}

//OFFER

.section-description {
	text-align: center;
}

.offer-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.offer-card {
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
		border-radius: 8px;
		padding: 30px;
		min-width: 250px;
		margin: 30px;
		transition: scale 0.5s;

		.card-heading {
			text-align: center;
			font-weight: 500;
		}

		.price-tag {
			text-align: center;
			font-weight: 600;
			font-size: 4rem;
			margin-bottom: 10px;
		}

		.offer-info {
			margin-bottom: 7px;
		}

		.fa-solid {
			padding-right: 8px;
		}

		.fa-check {
			color: $color-green;
		}

		.fa-minus {
			color: $color-silver;
		}

		.not-included {
			color: $color-silver;
		}

		.order {
			cursor: pointer;
			display: block;
			text-align: center;
			font-size: 1.8rem;
			width: 180px;
			height: 35px;
			color: rgb(46, 46, 46);
			margin: 20px auto 0px;
			background: none;
			border: none;
			border-radius: 5px;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
			transition: background-color 0.3s;
		}

		.order:hover {
			background-color: $color-white-hover;
		}

		.order-main {
			background-color: $color-green;
			box-shadow: 0px 3px 7px $color-green;
			transition: background-color 0.3s, box-shadow 0.3s;
		}

		.order-main:hover {
			background-color: $color-green-hover;
			box-shadow: 0px 3px 7px $color-green-hover;
		}
	}

	.offer-card:hover {
		scale: 1.05;
	}
}

.offer-more {
	.offer-description {
		text-align: center;
		margin-top: 2rem;
		font-size: 1.8rem;
	}

	a {
		text-decoration: none;
		color: $color-green;
		position: relative;
		transition: color 0.3s;
	}

	a:hover {
		color: $color-green-hover;
	}

	a:before {
		@include underline;
	}

	a:hover::before {
		@include underline-transform;
	}
}

.offer-subweb {
	@include box-img-text;

	&__contact {
		text-align: center;
		&-us {
			font-size: 2rem;
			margin-top: 3rem;
		}
		&-link {
			font-size: 2.5rem;
			margin-top: 2rem;
			a {
				padding: 0.5rem;
				text-decoration: none;
				text-transform: uppercase;
				color: $color-green;
				position: relative;
				transition: color 0.3s;
			}

			a:hover {
				color: $color-green-hover;
			}

			a:before {
				@include underline;
			}

			a:hover::before {
				@include underline-transform;
			}
		}
	}
}

//CONTACT
.error {
	background-color: $color-error;
}

.contact {
	&__wrapper {
		max-width: 1000px;
		margin: 0 auto;
		width: 100%;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__form-box {
		.fa-regular,
		.fa-solid {
			margin-right: 1rem;
		}

		label {
			display: block;
			margin-bottom: 0.5rem;
			font-size: 2rem;
		}

		textarea {
			min-width: 100%;
			max-width: 100%;
		}

		input,
		textarea {
			padding: 1rem 2rem;
			margin-bottom: 2rem;
			width: 100%;
			border: 1px solid $color-silver;
			border-radius: 5px;

			&:focus {
				outline: none;
				border: 1px solid $color-green-hover;
			}
		}
	}

	&__form-btn {
		width: 100%;
		max-width: 320px;
		align-self: flex-end;
		padding: 1rem;
		font-size: 1.8rem;
		border: 1px solid $color-green;
		border-radius: 5px;
		background-color: $color-green;
		cursor: pointer;
		box-shadow: 0px 3px 7px $color-green;
		transition: background-color 0.3s, box-shadow 0.3s;
	}

	&__form-btn:hover {
		background-color: $color-green-hover;
		box-shadow: 0px 3px 7px $color-green-hover;
	}

	&__map {
		margin-top: 5rem;
		iframe {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 900px;
			min-height: 300px;
		}
	}
}

//FOOTER
.footer-padding {
	padding: 4rem 2rem 0;
}

.footer {
	background-color: $color-footer-bg;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__wrapper {
		max-width: 1100px;
		margin: 0 auto;
		width: 100%;
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
	}

	&__box-logo {
		width: 100%;
		font-size: 5rem;
		text-align: center;

		.fa-tree {
			color: $color-logo-tree;
			margin-right: 10px;
		}
	}

	&__box-info {
		width: 100%;
		padding: 25px;
		text-align: center;

		a {
			display: block;
			text-decoration: none;
			color: $color-black;
			padding: 3px 0;
			transition: color 0.3s;
		}

		a:hover {
			color: $color-silver;
		}

		.info-header {
			font-size: 2.2rem;
		}

		.info-ourcompany {
			margin: 15px 0;
		}
	}

	&__line {
		width: 150%;
		transform: translateX(-10%);
	}

	&__sign {
		text-align: center;
		margin: 3rem 0;
	}
}

//MEDIA QUERIES
@import './small';
@import './medium';
@import './large';
